{
	"presets": [
		"react",
		[
			"env",
			{
				"targets": {
					"browsers": [
						"last 2 Chrome versions"
					]
				}
			}
		]
	],
	"plugins": [
		"transform-class-properties",
		"transform-object-rest-spread",
		"syntax-dynamic-import"
	],
	"env": {
		"production": {
			"plugins": [
				[
					"transform-react-remove-prop-types",
					{
						"mode": "wrap",
						"ignoreFilenames": [
							"node_modules"
						]
					}
				]
			]
		},
		"development": {
			"plugins": []
		}
	}
}
