{
	"presets": [
		"react",
		[
			"env",
			{
				"targets": {
					"browsers": [
						"Safari >= 10",
						"Chrome >= 64",
						"Firefox >= 58",
						"Edge >= 13"
					]
				}
			}
		]
	],
	"plugins": [
		"transform-class-properties",
		"transform-object-rest-spread"
	],
	"env": {
		"production": {
			"plugins": [
				[
					"transform-react-remove-prop-types",
					{
						"mode": "wrap",
						"ignoreFilenames": [
							"node_modules"
						]
					}
				]
			]
		},
		"development": {
			"plugins": []
		}
	}
}
